body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(90deg, rgb(0, 8, 0.8) , rgba(255, 0, 0, 0.755) , rgb(0,8,0.8));
    text-align: center;
}
div{
    background-color: rgba(181, 178, 178, 0.503);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#bc0505, rgb(0, 0, 0));
}

input{ 
    padding: 7px;
    border-radius: 15px;
    
}
button{
    background-color: rgba(0, 0, 0, 2.3);
    color: white;
    padding: 4px;
    border-radius: 7px;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgb(255, 255, 255);  
    color: black;
}